<div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Sign up</h5>
            <%= form_for @user, url: signup_path, :html => { class: 'form-signin' } do |form| %>
              <%= render 'shared/error_messages' %>

              <div class="form-label-group">
                <%= form.text_field :name, class: 'form-control' %>
                <%= form.label :name %>
              </div>

              <div class="form-label-group">
                <%= form.email_field :email, class: 'form-control' %>
                <%= form.label :email %>
              </div>

              <div class="form-label-group">
                <%= form.password_field :password, class: 'form-control' %>
                <%= form.label :password %>
              </div>

              <div class="form-label-group">
                <%= form.password_field :password_confirmation, class: 'form-control' %>
                <%= form.label :password_confirmation %>
              </div>

              <%= form.submit "Sign Up", class: "btn btn-lg btn-primary btn-block" %>
              <a class="d-block text-center mt-2 small" href="#">Already have an account?</a>
              <!--<hr class="my-4">
              <button class="btn btn-lg btn-google btn-block" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
              -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>